@font-face {
    font-family: "lobster";
    src: url("../fonts/Lobster/Lobster_1.3.otf") format('truetype');
}
@font-face {
    font-family: "aftershok";
    src: url("../fonts/aftershok/After_Shok.ttf") format('truetype');
}
@font-face {
    font-family: "1942";
    src: url("../fonts/1942/1942.ttf") format('truetype');
}
@font-face {
    font-family: "Yanone";
    src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.otf') format('truetype');
}
