/* standard mode is narrow mode up to 67 em*/

body{
  display:flex;
  font-family: "1942";
  margin: 0 0 0 0;
  flex-direction: column;
  align-items:stretch;
  z-index: -2;
  background-image: linear-gradient(10deg, purple, orange 60%, red);
}

/* smaller font sizes */
h1{
  font-family: "aftershok";
  font-size: 2em;
  margin: 0;
  margin-top: 1em;
  text-align: center;
}

h2{
  font-family: "aftershok";
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  font-size: 1.3em;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profilepic{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#private{
  text-align: center;
}

/* -------------------------- general table layout -------------------------- */
/*span table over whole width*/
table{
  width: 100%;
}

/*when in standard (narrow) mode we want no table headers as cells are stacked*/
th{
  display: none;
}

/* stack cells and a little padding */
td{
  display: block;
  width: 100%;
  font-family:"Yanone";
  padding: 0 0.5em 0 0.5em;
}

/* set font for the time columns */
td:nth-child(1){
  font-family: "lobster";
}

/*give row a common background to show it belongs together*/
#cv-table  tr{
  background-color: rgba(100,100,100,0.4);
}

/* ---------------------------- HPI table ----------------------------------- */

#hpi-tab{
  table-layout: fixed;
  width: 100%;
}

#hpi-tab tr{
  background-color: rgba(255,255,255,0.2);
}

#hpi-tab td:nth-child(1){
  text-align: left;
}

#hpi-tab td:nth-child(2){
  font-size: 1em;
}

#hpi-tab td:nth-child(3){
  font-size: 1em;
}

/* -------------------------------- Theologiestudium table ------------------ */

#ts-tab tr{
  background-color: rgba(255,255,255,0.2);
}

#ts-tab td:nth-child(1){
  text-align: left;
}

#ts-tab td:nth-child(2){
  font-size: 1em;
}

/* -------------------------- footer layout ---------------------------------- */
footer{
  text-align: center;
  font-size: 3em;
  background-color: rgba(10,20,30,0.8);
  padding: 0.5em 0 0 0;
}

footer a:visited{
  color: blue;
  text-decoration: none;
}

footer a:link{
  color: blue;
  text-decoration: none;
}

footer a:hover{
  text-transform: none;
  text-shadow: none;
}

.hublogo:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("../img/hubzilla_logo.png");
  background-size: cover;
}

.matrixlogo:before {
	content: "";
	display: inline-block;
  width: 3em;
	height: 1em;
	background-image: url("../img/Matrix_logo.svg");
  background-size: cover;
}

/* -------------------------------- link layout ----------------------------- */
a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

/* ---------------------------- watermark layout ---------------------------- */
.watermark{
  opacity: 0.5;
  color: BLACK;
  position: fixed;
  z-index: -1;
  width:100%;
  top: 50%; /* go down 50% of parent's height*/
  transform: translateY(-50%); /* go up 50% of own height*/
}
/* --------------------------------- media queries ---------------------------*/
/* --------------------------------- media queries ---------------------------*/
/* --------------------------------- media queries ---------------------------*/
/* --------------------------------- media queries ---------------------------*/

/* with broad windows image should use full height*/
@media (min-aspect-ratio: 611/782){
  .watermark{
    height:100%;
    width: auto;
    align-self: center;
   }
}

/* if the screen is broad */
@media (min-width: 68em) {
  h1{
    font-size: 4em;
  }

  /* make table head cells visible again*/
  th{
    display: table-cell;
  }

  /* get rid of row background color */
  tr{
    background-color: transparent;
  }

  /* unstack cells*/
  td{
    display: table-cell;
    font-family: "1942";
  }

  #cv-table td{
    width: 50%;
  }

  #cv-table td:nth-child(1){
    text-align: right;
    width: 20%;
  }

  #cv-table:nth-child(2){
    font-size: 1em;
  }

  #cv-table-left{
    background-color: rgba(200,200,200,0.4);
  }

  a:link{
    text-decoration: none;
    color: black;
  }

  a:visited{
    color: black;
  }

  a:hover{
    text-transform:uppercase;
    text-shadow: 1px 1px 2px #FF0000
  }
}
